@{
    ViewBag.Title = "Страница управления коммутаторами";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.js"></script>

<script src="~/js/Switches.js"></script>
<script src="~/js/controllers/filterController.js"></script>


<div class="row" ng-app="Switches">
   <div class="col-md-12">
        <h3>Все коммутаторы</h3>

        <div ng-controller="filterController">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Модель</th>
                    <th>Ip адрес</th>
                    <th>Mac-адрес</th>
                    <th>Дата установки</th>
                    <th>Серийный номер</th>
                    <th><a class="btn btn-success" href="/Home/AddSwitch">Добавить</a></th>
                    <th>Удалить</th>
                </tr>
                <tr ng-repeat="s in switches">
                    <td>{{s.Id}}</td>
                    <td>{{s.Model}}</td>
                    <td>{{s.Ip}}</td>
                    <td>{{s.Mac}}</td>
                    <td>{{s.DateInstallation}}</td>
                    <td>{{s.Serial}}</td>
                    <td><a class="btn btn-info" href="/Home/EditSwitch/{{s.Id}}">Посмотреть/Изменить</a></td>
                    <td><a class="btn btn-warning" href="/Home/Delete/{{s.Id}}">Удалить</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>